html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


::-webkit-scrollbar {
  width: 5px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #3f3f3f; /* Background color of the track */
}

/* Style the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background: #cbcbcb; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

/* Style the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e; /* Darker color when hovered */
}